<h1><a href="<%= @episode.url %>"><%= @episode.title %></a></h1>
<img width='150' src="<%= @podcast.image_url %>">


<p>Add Your Voice:</p>

<form action='/posts' method='post'>
	<p><label for='title'>Title</label>
	<input name="post[title]" type='text' id='title'/></p>
	<p><label for='comment'>Comment</label>
	<textarea name="post[comment]" id='comment'></textarea></p>
	<input type="submit"/>
</form>





<p>Comments:</p>

<% @episode.posts.each do |post| %>
	<p>Date: <%= post.created_at %></p>
	<p>Title: <%= post.title %></p>
  <p>Content: <%= post.content %></p>
  <p>Author: <%= post.user.name %></p>
<% end %>