<a href="/">Home</a>

<h1><a href="<%= @episode.url %>"><%= @episode.title %></a></h1>
<img width='150' src="<%= @podcast.image_url %>">


<p>Add Your Voice:</p>

<form action='/posts' method='post'>
	<p><label for='title'>Title</label>
	<input name="post[title]" type='text' id='title'/></p>
	<p><label for='comment'>Comment</label>
	<textarea name="post[content]" id='comment'></textarea></p>
	<input type='hidden' name='post[user_id]' value="<%= current_user.id %>"/>
	<input type='hidden' name='post[episode_id]' value="<%= @episode.id %>"/>
	<input type="submit"/>
</form>

<p>Comments:</p>

<% @episode.posts.each do |post| %>
	<p>Date: <%= post.created_at %></p>
	<p>Title: <%= post.title %></p>
  <p>Content: <%= post.content %></p>
  <p>Author: <%= post.user.name %></p>
  <a href="/posts/<%= post.id %>/edit">Edit</a>

	<form action='/posts/<%= post.id %>/delete' method='post'>
		<input class=delete-button type="submit" value="Delete"/>
	</form>

<% end %>